# Base domain for the applications and redirect links
BASE_DOMAIN=fahmiefendy.dev

# Base URL for the public dashboard API (Production)
PUBLIC_API_BASE_URL=https://api-dashboard.fahmiefendy.dev

# Base URL for the public dashboard API (Local development)
# PUBLIC_API_BASE_URL=http://localhost:3002
